.dropdown {
    .dropdown-menu {
        border-radius: 0 !important;

    }

    &.show .dropdown-toggle::after {
        transform: rotate(180deg);
    }
}
.theme-nav{
    .dropdown{
        .dropdown-toggle{
             color: white;
        }
       
    }
}