.header-section {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    padding: 0 1rem;
}


.search-section {
    max-width: 300px;
}

.theme-btn {
    height: 30px;
    min-width: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--bs-primary-rgb);
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
.theme-nav {
    background-color: var(--bs-primary-rgb);

    ul.nav {


        .nav-link {
            color: #fff;
            font-weight: 500;
            padding-left: 0.75rem;
            padding-right: 0.75rem;
        }

        .nav-link:hover {
            background-color: #1b417c;
        }

        .dropdown {
            .dropdown-toggle {
                font-weight: 500;
                border-radius: 0;
                transition: all 500ms linear;

                &:hover {
                    background-color: #1b417c;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .header-section {
        padding: 0;
    }
}